@charset "utf-8";
/* CSS Document */
/*初始化样式*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{  margin:0;padding:0}
body {font-size:12px;color:#323232;background-color:#fff;}
ul,li {list-style:none;}
img {border:0;}
a:link {color:#FFFFFF;text-decoration:none;}
a:visited {color:#FFFFFF;text-decoration:none;}
a:hover {text-decoration:none;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:14px;}
i,em {font-style:normal;}
.clearfix:after{content:".";display:block;height:0;font-size:0;clear:both;visibility:hidden;}
/*单一样式:      1.距离类    2.颜色类    3.字体相关   4.位置类   5.css3相关  6其他*/
/*********** 1.距离类 **************/
.w_a{width:auto;}
.w_5{width:5%;}
.w_10{width:10%;}
.w_15{width:15%;}
.w_20{width:20%;}
.w_24{width:24%;}
.w_25{width:25%;}
.w_28{width:28%;}
.w_30{width:30%;}
.w_33{width:33.3333%;}
.w_35{width:35%;}
.w_40{width:40%;}
.w_45{width:45%;}
.w_48{width:48%;}
.w_50{width:50%;}
.w_55{width:55%;}
.w_60{width:60%;}
.w_65{width:65%;}
.w_66{width:66%;}
.w_70{width:70%;}
.w_72{width:72%;}
.w_74{width:74%;}
.w_75{width:75%;}
.w_80{width:80%;}
.w_85{width:85%;}
.w_90{width:90%;}
.w_95{width:95%;}
.w_100{width:100%;}


.h_30{height:30%;}
.h_50{height:50%;}
.h_100{height:100%;}

.h3{height:3px;}
.h5{height:5px;}
.h15{height:15px !important;}
.h17{height:17px;}
.h20{height:20px !important;}
.h25{height:25px;}
.h30{height:30px;}
.h35{height:35px;}
.h40{height:40px;}
.h45{height:45px;}
.h50{height:50px;}
.h60{height:60px;}
.h70{height:70px;}
.h80{height:80px;}
.h90{height:90px;}
.h100{height:100px;}
.h110{height:110px;}
.h180{height:180px;}
.mh_800{min-height: 800px;}

.w10{width:10px !important;}
.w15{width:15px !important;}
.w17{width:17px;}
.w20{width:20px;}
.w25{width:25px;}
.w30{width:30px;}
.w35{width:35px;}
.w40{width:40px;}
.w45{width:45px;}
.w50{width:50px;}
.w60{width:60px;}
.w70{width:70px;}
.w120{width:120px;}
.w180{width:180px;}
.w200{width:200px;}
.w220{width:220px;}
.w250{width:250px;}
.w255{width:255px;}
.w260{width:260px;}
.w300{width:300px;}
.w320{width:320px;}
.w520{width:520px;}
.w860{width:860px;}

.mw_1100{min-width: 1100px;}

.lh_25{line-height: 25px;}
.lh_30{line-height: 30px;}
.lh_35{line-height: 35px;}
.lh_40{line-height: 40px;}
.lh_45{line-height: 45px;}
.lh_50{line-height: 50px;}
.lh_60{line-height: 60px;}

.pd_0 {padding:0px;}
.pd_5 {padding:5px;}
.pd_10{padding:10px;}
.pd_15{padding:15px;}
.pd_20{padding:20px;}
.pd_25{padding:25px;}
.pd_30{padding:30px;}

.pt_2 {padding-top:2px;}
.pt_5 {padding-top:5px;}
.pt_7{padding-top:7px;}
.pt_8{padding-top:8px;}
.pt_10{padding-top:10px;}
.pt_15{padding-top:15px;}
.pt_20{padding-top:20px;}
.pt_25{padding-top:25px;}
.pt_30{padding-top:30px;}

.pl_5 {padding-left:5px;}
.pl_10{padding-left:10px;}
.pl_15{padding-left:15px;}
.pl_20{padding-left:20px;}
.pl_25{padding-left:25px;}
.pl_30{padding-left:30px;}
.pl_60{padding-left:60px;}
.pb_5 {padding-bottom:5px;}
.pb_10{padding-bottom:10px;}
.pb_15{padding-bottom:15px;}
.pb_20{padding-bottom:20px;}
.pb_25{padding-bottom:25px;}
.pb_30{padding-bottom:30px;}
.pr_5 {padding-right:5px;}
.pr_10{padding-right:10px;}
.pr_15{padding-right:15px;}
.pr_20{padding-right:20px;}
.pr_25{padding-right:25px;}
.pr_30{padding-right:30px;}
.pr_60{padding-right:60px;}

.mg_5 {margin:5px;}
.mg_10{margin:10px;}
.mg_15{margin:15px;}
.mg_20{margin:20px;}
.mg_25{margin:25px;}
.mg_30{margin:30px;}

.mt_5 {margin-top:5px;}
.mt_10{margin-top:10px;}
.mt_15{margin-top:15px;}
.mt_20{margin-top:20px;}
.mt_25{margin-top:25px;}
.mt_30{margin-top:30px;}

.ml_5 {margin-left:5px;}
.ml_10{margin-left:10px;}
.ml_15{margin-left:15px;}
.ml_20{margin-left:20px;}
.ml_25{margin-left:25px;}
.ml_30{margin-left:30px;}
.ml_35{margin-left:35px;}
.ml_50{margin-left:50px;}
.ml_60{margin-left:60px;}

.mb_5 {margin-bottom:5px;}
.mb_10{margin-bottom:10px;}
.mb_15{margin-bottom:15px;}
.mb_20{margin-bottom:20px;}
.mb_25{margin-bottom:25px;}
.mb_30{margin-bottom:30px;}
.mb_60{margin-bottom:60px;}
.mb_70{margin-bottom:70px;}
.mb_100{margin-bottom:100px;}
.mb_130{margin-bottom:130px;}
.mb_170{margin-bottom:170px;}
.mb_180{margin-bottom:180px;}
.mb_200{margin-bottom:200px;}
.mr_5 {margin-right:5px;}
.mr_10{margin-right:10px;}
.mr_15{margin-right:15px;}
.mr_20{margin-right:20px;}
.mr_25{margin-right:25px;}
.mr_30{margin-right:30px;}
.mr_40{margin-right:40px;}
.mr_70{margin-right:70px;}
.mr_110{margin-right:110px;}



/*********** 2.颜色类  **************/
/*文字颜色*/
.cl_w{color:#fff}/*白色*/
.cl_r{color:#f44949}/*红色*/
.cl_r2{color:#fc7f7f}/*浅红色*/
.cl_o{color:#eca447}/*橙色*/
.cl_y{color:#e2e05e}/*黄色*/
.cl_b{color:#47a0ec}/*蓝色*/
.cl_b2{color:#4f93ee}/*浅蓝色*/
.cl_g1{color:#519c15}/*浅绿色*/
.cl_g2{color:#38710b}/*深绿色*/
/*文字颜色(灰色)*/
.cl_G1{color:#5d5d5d}/*深灰*/
.cl_G2{color:#9f9f9f}/*浅灰*/

/*背景颜色*/
.bc_w{background-color:#fff}/*白色*/
.bc_r{background-color:#f44949}/*红色*/
.bc_r2{background-color: #ffd7c7}/*浅红色*/
.bc_o{background-color:#eca447}/*橙色*/
.bc_y1{background-color:#e2e05e}/*黄色*/
.bc_y2{background-color:#d8b102}/*土黄色*/
.bc_y3{background-color:#fdfedc}/*肉黄色*/
.bc_y4{background-color:#fdfeec}/*浅肉黄色*/
.bc_b{background-color:#47a0ec}/*蓝色*/
.bc_b2{background-color:#4f93ee}/*蓝色*/
.bc_b3{background-color:#eef5ff}/*浅蓝*/
.bc_g1{background-color:#519c15}/*浅绿色*/
.bc_g2{background-color:#38710b}/*深绿色*/
.bc_g3{background-color:#e1fde7}/*浅绿色*/
.bc_g4{background-color:#edfff1}/*浅浅绿色*/
.bc_G{background-color:#f1f1f1}/*浅灰*/
.bc_G2{background-color:#f2f2f2}/*中灰*/
.bc_G3{background-color:#e8e8e8}/*深灰*/
/*描边颜色*/
.bd_g{border:1px solid #519c15;}/*浅绿色*/
.bd_g1{border:1px solid #519c15;}/*浅绿色*/
.bd_g2{border:1px solid #b9e298;}/*浅绿色*/
.bd_r1{border:1px solid #e29383;}/*浅绿色*/
.bd_G{border:1px solid #e5e5e5;}/*浅灰色*/
.bd_b1{border:1px solid #267bef !important;}/*蓝色*/

.bb_g{border-bottom:1px solid #38710b;}/*深绿色*/
.bb_G{border-bottom:1px solid #cccccc;}/*灰色*/
.br_G{border-right:1px solid #cccccc;}/*灰色*/
.bb-bt_G{border-bottom:1px solid #cccccc;border-top:1px solid #cccccc;}/*灰色*/
.bt_G{border-top:1px solid #cccccc;}/*灰色*/
.bt_w{border-top:1px solid #fff;}
.bd_n{border:none;}

/*字体大小*/
.f_0{font-size: 0}
.f_8{font-size: 8px}
.f_12{font-size: 12px}
.f_14{font-size: 14px}
.f_16{font-size: 16px}
.f_18{font-size: 18px}
.f_20{font-size: 20px}
.f_24{font-size: 24px}
.f_28{font-size: 28px}
.f_30{font-size: 30px}
.f_32{font-size: 32px}
.f_36{font-size: 36px}
.f_40{font-size: 40px}
.f_42{font-size: 42px}
.f_50{font-size: 50px}
/*加粗*/
.fw_b {font-weight: bold;}
/*文字位置*/
.ta_c{text-align: center;}
.ta_l{text-align: left;}
.ta_r{text-align: right;}
/*加粗*/
.fw_b{font-weight:bold;}
/*css3*/
.ts_03{transition: 0.3s all;}
.ts_05{transition: 0.5s all;}
.ts_1{transition: 1s all;}
.tf_08{transform: scale(0.8,0.8);}
.tf_07{transform: scale(0.7,0.7);}
.br_50{border-radius: 50%;}
.br_5{border-radius: 5px;}
.br_10{border-radius: 10px;}
.br_15{border-radius: 15px;}
/*位置*/
.p_r{position: relative;top:0;left:0}
.p_a{position: absolute;top:0;left:0}
.p_f{position: fixed;top:0;left:0}
.mg_0a{ margin:0 auto;}/*块元素居中*/
.ta_c{text-align: center}/*内容文字居中*/
.ta_l{text-align: left}/*内容文字居左*/
.ta_r{text-align: right}/*内容文字居右*/
.f_l{float: left}/*左浮动*/
.f_r{float: right}/*右浮动*/

.t_a{top:auto}
.t_1{top:1px}
.t_2{top:2px}
.t_3{top:3px}
.t_4{top:4px}
.t_5{top:5px}
.t_7{top:7px}
.t_10{top:10px}
.t_50{top:50px}
.t_60{top:60px}
.t_85{top:85px}
.t_90{top:90px}
.t_100{top:100px}
.t_150{top:150px}
.t_300{top:300px}
.t_350{top:350px}
.t_400{top:400px}
.t_450{top:450px}
.t_-10{top:-10px}

.l_a{left: auto}
.l_1{left:1px}
.l_2{left:2px}
.l_3{left:3px}
.l_4{left:4px}
.l_5{left:5px}
.l_7{left:7px}
.l_10{left:10px}
.l_20{left:20px}
.l_30{left:30px}
.l_40{left:40px}
.l_50{left:50px}
.l_80{left:80px}
.l_90{left:90px}
.l_100{left:100px}

.b_0{bottom: 0px}
.b_40{bottom: 40px}
.b_70{bottom: 70px}

.r_0{right:0px}
.r_15{right:15px}
.r_40{right:40px}
.r_-40{right:-40px}
.r_-120{right:-120px}
.r_-140{right:-140px}
/*其他*/
.d_b{display: block;}
.d_i{display: inline;}
.d_ib{display: inline-block}
.d_n{display: none}
.of_h{overflow:hidden}/*剪切超过部分*/
.ws_n{white-space: nowrap}/*强制居中*/
.z_1{z-index: 1}
.z_2{z-index: 2}
.z_3{z-index: 3}
.z_4{z-index: 4}


/*组合样式*/
/*自动图片背景*/
.pImg{background: url('') no-repeat top left;background-size: 100% 100%;position: absolute;left: 0px;bottom: 0;right:0;top: 0;}
/*圆角按钮*/
.raBut{border-radius:20px;width:72%;height: 40px;color:#fff;line-height: 40px;font-size: 18px;text-align: center;margin: 0 auto;background-color: #6fcf4c}
.raBut:hover{background-color: #63bd1a;}
.nav-header .bar{border-bottom:1px solid #38710b;color:#38710b;}

/*弹出框*/
.bgPop{ position:absolute; top: 0; left: 0;bottom:0;right:0; background-color: rgba(255,255,255,0.4); height:100%;width:100%;z-index: 1;}
/*功能样式*/













